<%= form_for @team || Team.new do |f| %>
  <div class="form-group">
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, { autofocus: true, class: 'form-control' } %>
    </div>
  </div>

  <div class="actions">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>
