<tr>
  <td><%= link_to(team.name, team_path(team)) %></td>
  <td><%= team.divers.count %></td>
  <td>
    <%= link_to edit_team_path(team), remote: true do %>
      <i class="fa fa-pencil-square-o"></i>
    <% end %>
    <%= link_to team_path(team), remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="fa fa-trash-o"></i>
    <% end %>
  </td>
</tr>
