<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header"><%= @team.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-right">
    <%= link_to('View Attendance', team_attendance_path(@team), class: 'btn btn-primary attendance-button') %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-anchor fa-fw"></i> Divers
      </div>
      <div class="panel-body">
        <%= render 'shared/divers_table' %>
      </div>
    </div>
  </div>
</div>
