<h1>Diving Fundamentals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fundamentals.each do |fundamental| %>
      <tr>
        <td><%= link_to fundamental.name, fundamental %></td>
        <td><%= link_to 'Destroy', fundamental, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fundamental', new_fundamental_path %>
