<div class="row">
  <div class="col-md-6">
    <div class="text-center">
      <h5>Practice Attendance</h5>
    </div>
    <%= pie_chart(
      @diver_pie_data,
      colors: ['#7CB47C','#2577B5', '#593391']) %>
  </div>

  <div class="col-md-6">
    <div class="text-center">
      <h5>Attendance by Day</h5>
    </div>
    <%= column_chart(
      @diver_attendance_by_day_data,
      discrete: true,
      library: {
        chartArea: {
          height: '70%',
          width: '85%',
          top: '10%'
        },
        animation: {
          duration: 600,
          easing: 'linear',
          startup: true
        }
      },
      ytitle: 'Average Attendance',
      colors: ['#7CB47C']
    ) %>
  </div>
</div>
