<h1><%= @fundamental.name %>: <%= @skill.name %></h1>

<p>
  <strong>Drill Progressions:</strong>
  <ol>
  <% @skill.drills.order(:progression).each do |drill| %>
    <li><%= drill.name %></li>
  <% end %>
  </ol>
</p>

<%= link_to 'Back', fundamental_skills_path(@fundamental) %>
