<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Dive</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <% list.list_dives.includes(:dive).each do |list_dive| %>
        <% dive = list_dive.dive %>
        <tr>
          <td><%= dive.display_description %></td>
          <td><%= list_dive.notes %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

