<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header"><%= @current_coach.name %> Settings</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <h4>Account Details</h4>
        <%= render 'coaches/form' %>
      </div>
      <div class="col-md-6">
        <h4>Google Drive Integration</h4>
      </div>
    </div>
  </div>
</div>
