<h1><%= @coach.name %></h1>

Teams:
<ul>
  <% @coach.teams.each do |team| %>
    <li><%= link_to(team.name, team_path(team)) %></li>
  <% end %>
</ul>

Divers:
<ul>
  <% @coach.divers.each do |diver| %>
    <li><%= link_to(diver.name, diver_path(diver)) %></li>
  <% end %>
</ul>
