<div class="row">
  <% if divers.present? %>
    <% divers.each do |diver| %>
      <%= render partial: 'diver_card', locals: { diver: diver } %>
    <% end %>
  <% else %>
    <div class="col-md-3">
      <p class="text-muted">This team has no divers...</p>
    </div>
  <% end %>
</div>
