// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "select2";

/*TODO: move to dashboard css or something*/
//colors
$color_fern_approx: #5cb85c;
$white: #fff;
$color_goblin_approx: #3d8b3d;

.panel-green {
  border-color: $color_fern_approx;
  .panel-heading {
    border-color: $color_fern_approx;
    color: $white;
    background-color: $color_fern_approx;
  }
  a {
    color: $color_fern_approx;
    &:hover {
      color: $color_goblin_approx;
    }
  }
}

.huge {
  font-size: 40px;
}

.medium {
  font-size: 20px;
}

.small {
  font-size: 14px;
}

.drive-logo {
  max-height: 122px;
  max-width: 141px;
  margin-bottom: 10px;
}

.attendance-button {
  margin-bottom: 10px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.flip {
  //Instead of the line below you could use @include perspective($p)
  perspective: 800;
  position: relative;
  .card {
    height: 100%;
    //Instead of the line below you could use @include transform-style($style)
    transform-style: preserve-3d;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: 0.5s;
    &.flipped {
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotatey(-180deg);
    }
    .face {
      //Instead of the line below you could use @include backface-visibility($visibility)
      backface-visibility: hidden;
      z-index: 2;
    }
    .front {
      position: absolute;
      width: 100%;
      z-index: 1;
    }
    .back {
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotatey(-180deg);
    }
  }
}
