// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "select2";

/*TODO: move to dashboard css or something*/
//colors
$color_fern_approx: #5cb85c;
$white: #fff;
$color_goblin_approx: #3d8b3d;

.panel-green {
  border-color: $color_fern_approx;
  .panel-heading {
    border-color: $color_fern_approx;
    color: $white;
    background-color: $color_fern_approx;
  }
  a {
    color: $color_fern_approx;
    &:hover {
      color: $color_goblin_approx;
    }
  }
}

.huge {
  font-size: 40px;
}

.drive-logo {
  max-height: 122px;
  max-width: 141px;
  margin-bottom: 10px;
}

.attendance-button {
  margin-bottom: 10px;
}

.green {
  color: green;
}

.red {
  color: red;
}
