<div class="col-xs-12">
  <div class="table-responsive" id="attendance-table">
    <%= render 'diver_practices/attendance_table' %>
  </div>
</div>

<div class="col-xs-6">
  <%= form_tag(add_practices_team_practices_path(@team), class: 'form-inline') do %>
    <div class="form-group">
      <%= select_tag(:practice_days, options_for_select([['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6], ['Sunday', 0]]), multiple: true, class: 'form-control js-day-select') %>
    </div>
    <%= submit_tag "Add #{Date.today.strftime('%B')} Practices", class: 'btn btn-primary' %>
  <% end %>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('.js-day-select').select2({
    placeholder: "Choose Practice Days",
    allowClear: true,
    width: '100%'
  });
});
</script>
