<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header"><%= @team.name %> Attendance</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= render 'table' %>
  </div>
</div>
